doctype html
html
    head
        title= `${title}`
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="stylesheet", href="/css/style.css")
    body
        h1 Video Games
        a(href="/update-cobj") Add to this table
        table
            thead
                tr
                    th Name
                    th Genre
                    th Release Year
            tbody
                each game in data
                    tr
                        td #{game.properties.name}
                        td #{game.properties.genre}
                        td #{game.properties.release_year}
